################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ATENDIMENTO/.vs/ATENDIMENTO/v16/Server/sqlite3
